<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="DataConnection" connectionString="Data Source=(local);Initial Catalog=silverlightmaxi;User ID=sa;Password=3PrimeEvils;"/>
    <!--add name="DataConnection" connectionString="Data Source=.\EC2SQLEXPRESS;Initial Catalog=silverlightmaxi;User ID=silverlightmaxi;Password=3PrimeEvils;"/-->
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="SilverlightMaxi.Web.Service1.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="SilverlightMaxi.Web.DatabaseService.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="SilverlightMaxi.Web.Service1">
                <endpoint address="" binding="customBinding" bindingConfiguration="SilverlightMaxi.Web.Service1.customBinding0"
                    contract="SilverlightMaxi.Web.Service1" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="SilverlightMaxi.Web.DatabaseService">
                <endpoint address="" binding="customBinding" bindingConfiguration="SilverlightMaxi.Web.DatabaseService.customBinding0"
                    contract="SilverlightMaxi.Web.DatabaseService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
